h1 {
    color :  #025157;
    text-align: center;
    font-size: 60px;
    font-family: "Alegreya", serif;
    
}
h4 {
    color: #46484c;
    text-align: center;

}
input{
    display: block;
    border-radius: 5px;
    width: 250px;

}


.b1{
    color: #fff;
    background-color:#025157 ;
    display: block;
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
   
}
.tryitnow{
    display: flex;
    justify-content: center;
    
}
html{
    background-color: #fffbf7;
}
.machajpg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

}
.intro{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom:40 px ;
    font-size: 0;
    height:45px;
    font-family: sans-serif;
}


.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 35px;

}
.menuitem li {
    display: inline;
    padding: 3%;
    
    
  }

  .menuitem li a{
    color: black;
    text-decoration: none;
    font-weight:100 ;
  }

.logo{
    width: 15%;
}

.logo > img{
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
    color:#1e3e41;
    font-weight: 600;
   
    
    
}
.menuitem{
   font-size: large;
   font-family:Arial, Helvetica, sans-serif;
   
  }
   

.actions{
   width:15%; 
   text-align: right;
   font-size: 600;
   margin-left: 0px;
   margin-right: 0px;
   color:#67b54b;
  

}

@media (max-width: 575px) {
  .navbar,
  .actions {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
  body {
    margin-top: 130px;
  }
}

.p1{
    text-align: center;
    margin-bottom: 40px;
    
}

.b2{
    color:white;
     background-color:#67b54b ;
     padding-left: 14px;
     padding-top: 12px;
     padding-bottom: 12px;
     padding-right: 14px;
     border-radius: 5px;
     border: 0;
}

.publish {
    flex:1;
    /* container styles if any */
  }
  
  .publish h3 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish  form {
    display: flex;
  
  }

  .divpublish{
    display: inherit;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }
  
 .i2{ 
  display: block;
  border-radius: 5px;
  width: 250px;

}

  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }
  @media (max-width: 575px) {
    /** Media queries previos al banner **/
    .promo {
      flex-direction: column;
      max-width: 90%;
    }
    .explanatory-video > video {
      width: 100%;
    }
    
    .publish {
      margin-top: 10px;
    }
  
    .publish > h3 {
      font-size: 25px;
      line-height: 1.2;
    }
  }
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
  }
  
  .explanatory-video img {
    width: 200px;
    margin-top: 10px;
    
  }
  

.fixed-header{
      position: fixed;
      top: 0;
      left: 0;
     right: 0;
     background-color: #fffbf7;
  }
  
  body {
    margin-top: 285px;
    text-align: center;
  }

  .features {
      display: grid;
      grid-template-rows: 330px 330px;
      grid-template-columns: 1fr 1fr ;
      background-color: #025157;
      padding: 5% 10%;  
    
  }

 

 .features .feature-card{
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

.features .feature-card .feature-content{
  padding: 30px 20px 40px 40px;
  flex: 2;  
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content | {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}


.flexcontainer{
   background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.flexiner div{
border: solid white;

}
.item{
  flex: 2;
  padding-right: 100px;
  text-align: left;
}

.item h2{
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.item p{
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
}

.item button{
  font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    color: white;
    background-color:#025157 ;
  

}
.item img{

  width: 500px;
  max-width: 100%;
}


.text{

  flex:1;
  background-color: white ;
  border-radius: 10px;
}

.text img{
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.text .company{
  height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    z-index: -1;
}

.text h4{
  color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    text-align: left;
}

.text h3{
  font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}
  
.text .divtext{
  display: flex;
}

.text .divtext img{
  width: 40px;
    margin-right: 20px;
}

.card-footer button{
  background-color: #025157;
    color: #fff;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}

section .how-matcha-works{
  background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
    box-sizing: border-box;
}
.hdmw h2{
  color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
}

.hdmw p{
  max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}

.hdmw p a{
  color: #67b54b;
  text-decoration: none;
}

.hdmw button{
  background-color: #025157;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    margin-left: 0;
    border-radius: 8px;
    margin-top: 6px;
}

.matchagrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
  margin-right: auto;
  margin-top: 30px;
  overflow:auto;
 
}


.card{
  background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  
}
.cardimg{
  position: relative;
  height: 350px;
}

.card-step-icon{
  position: absolute;
  left: 5px;
}


@media (max-width: 575px) {
  /** Media queries previos al banner **/
  .banner > img {
    width: 100%;
  }

  @media (max-width: 575px) {
    .publish > form{
      flex-direction: column;
      widows: 90%;
    }
    .publish > form > div {
      height: 50px;
      margin-top: 10px;
    }
  
    .publish > form > div > input {
      width: 65%;
    }
    .publish >form >div > button{
      padding: 0;
    }
    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;

      }
    .feature-image{
      display: none;
    }
    }


}