h1 {
    color :  #025157;
    text-align: center;
    font-size: 60px;
    font-family: "Alegreya", serif;
    
}
h4 {
    color: #46484c;
    text-align: center;

}
input{
    display: block;
    border-radius: 5px;
    width: 250px;

}


.b1{
    color: #fff;
    background-color:#025157 ;
    display: block;
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
   
}
.tryitnow{
    display: flex;
    justify-content: center;
    
}
html{
    background-color: #fffbf7;
}
.machajpg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

}
.intro{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom:40 px ;
    font-size: 0;
    height:45px;
    font-family: sans-serif;
}


.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 35px;

}
.menuitem li {
    display: inline;
    padding: 3%;
    
    
  }

  .menuitem li a{
    color: black;
    text-decoration: none;
    font-weight:100 ;
  }

.logo{
    width: 15%;
}

.logo > img{
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
    color:#1e3e41;
    font-weight: 600;
   
    
    
}
.menuitem{
   font-size: large;
   font-family:Arial, Helvetica, sans-serif;
   
  }
   

.actions{
   width:15%; 
   text-align: right;
   font-size: 600;
   margin-left: 0px;
   margin-right: 0px;
   color:#67b54b;
  

}

.p1{
    text-align: center;
    margin-bottom: 40px;
    
}

.b2{
    color:white;
     background-color:#67b54b ;
     padding-left: 14px;
     padding-top: 12px;
     padding-bottom: 12px;
     padding-right: 14px;
     border-radius: 5px;
     border: 0;
}

.publish {
    flex:1;
    /* container styles if any */
  }
  
  .publish h3 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish  form {
    display: flex;
  
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }
  
 .i2{ 
  display: block;
  border-radius: 5px;
  width: 250px;

}

  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
  }
  
  .explanatory-video img {
    width: 200px;
    margin-top: 10px;
    
  }
  

.fixed-header{
      position: fixed;
      top: 0;
      left: 0;
     right: 0;
     background-color: #fffbf7;
  }
  
  main {
    margin-top: 285px;
    text-align: center;
  }

  .features {
      display: grid;
      grid-template-rows: 330px 330px;
      grid-template-columns: 1fr 1fr ;
      background-color: #025157;
      padding: 5% 10%;  
    
  }

 

 .features .feature-card{
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

.features .feature-card .feature-content{
  padding: 30px 20px 40px 40px;
  flex: 2;  
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

  


  
  